<h2 style="font-size: 50px; text-align: center;">All products</h2>
<div style="display: flex; flex-wrap: wrap">
    {{#each products}}
        {{#if (isGreater this.availableQuantity 0) }}
            <div style="width: 300px; height: 540px; border-radius: 5px; background-color: #f3f4f6; margin: 10px auto;">
                <div style="display: flex; flex-direction: column;">
                    <img
                            src={{this.image}}
                            alt={{this.name}}
                    />
                    <h2 style="font-size: 30px; text-align: center">
                        {{this.name}}
                    </h2>
                </div>
                <p style="padding: 0 10px">{{this.shortDescription}}</p>
            </div>
        {{/if}}
    {{/each}}
</div>