<footer style="background-color: darkgrey; padding: 10px 5px">
    <div>
        <h2>Contact</h2>
        <div>
            <p>+48 567 586 568</p>
        </div>
        <div>
            <p>capy@store.com</p>
        </div>
    </div>
</footer>